body{
	background-color: #F3F3F3;
}

.contenido{
	float: inherit;
  max-width: 1100px;
  margin: 0px auto;
  padding-top: 50px;
  /*border: 1px solid;*/
}

#contenido{	
	background-color: white;
	border-radius: 4px;
	border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
  margin-top: 15px;
  margin-bottom:15px;
}

#contenido-black{
	background-color: black;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/* -------------------- Carrusel -------------------- */
.carousel .item {
    background-color: #000;
}
.carrusel_publicidad{	
	background-color: #fff;
	/*border: 1px blue solid;	*/
	width: 100%;
	height: 400px;	
}
.carrusel_publicidad img{
	float: center;
	margin: 0 auto;
	height:400px;
}



/************************ visitantes y admiradores ************************/
.seguidores{	
	padding: 10px;
	height: 400px;	
	background-color: white;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: auto;
}
.seguidores h3{	
	margin: 0px;
	margin-bottom: 10px;
	
}
.seguidores p{	
	padding-left: 15px;	
	height: 55px;
 	overflow: hidden;

}
.seguidores img{
	width: 55px;
	height: 55px;
	border: 1px solid #ccc;
}


/************************ Botones generales del diseño ************************/

.btn-custom2{
  background-color: hsl(120, 76%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16a616", endColorstr="#16a616");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#16a616), to(#16a616));
  background-image: -moz-linear-gradient(top, #16a616, #16a616);
  background-image: -ms-linear-gradient(top, #16a616, #16a616);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #16a616), color-stop(100%, #16a616));
  background-image: -webkit-linear-gradient(top, #16a616, #16a616);
  background-image: -o-linear-gradient(top, #16a616, #16a616);
  background-image: linear-gradient(#16a616, #16a616);
  border-color: #16a616 #16a616 hsl(120, 76%, 37%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  width: 120px;
  height: 30px;
}


.btn-custom {
  background-color: hsl(232, 76%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1629a6", endColorstr="#1629a6");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1629a6), to(#1629a6));
  background-image: -moz-linear-gradient(top, #1629a6, #1629a6);
  background-image: -ms-linear-gradient(top, #1629a6, #1629a6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1629a6), color-stop(100%, #1629a6));
  background-image: -webkit-linear-gradient(top, #1629a6, #1629a6);
  background-image: -o-linear-gradient(top, #1629a6, #1629a6);
  background-image: linear-gradient(#1629a6, #1629a6);
  border-color: #1629a6 #1629a6 hsl(232, 76%, 37%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  width: 120px;
  height: 30px;  
}

.btn-custom3{
  background-color: hsl(120, 76%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16a616", endColorstr="#16a616");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#16a616), to(#16a616));
  background-image: -moz-linear-gradient(top, #16a616, #16a616);
  background-image: -ms-linear-gradient(top, #16a616, #16a616);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #16a616), color-stop(100%, #16a616));
  background-image: -webkit-linear-gradient(top, #16a616, #16a616);
  background-image: -o-linear-gradient(top, #16a616, #16a616);
  background-image: linear-gradient(#16a616, #16a616);
  border-color: #16a616 #16a616 hsl(120, 76%, 37%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  width: 93%;
  height: 75px;
  border-radius: 0px;
}


/* Tiny Scrollbar */


#scrollbar1 { width: 520px; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
