/* ........EFECTO BOTONES VENTANA bigmodal........ */
.btn-modal-si { background-color: hsl(132, 100%, 26%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff32", endColorstr="#00841a"); background-image: -khtml-gradient(linear, left top, left bottom, from(#00ff32), to(#00841a)); background-image: -moz-linear-gradient(top, #00ff32, #00841a); background-image: -ms-linear-gradient(top, #00ff32, #00841a); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00ff32), color-stop(100%, #00841a)); background-image: -webkit-linear-gradient(top, #00ff32, #00841a); background-image: -o-linear-gradient(top, #00ff32, #00841a); background-image: linear-gradient(#00ff32, #00841a); border-color: #00841a #00841a hsl(132, 100%, 20%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39); -webkit-font-smoothing: antialiased; }
.btn-modal-no { background-color: hsl(200, 100%, 23%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19b2ff", endColorstr="#004e75"); background-image: -khtml-gradient(linear, left top, left bottom, from(#19b2ff), to(#004e75)); background-image: -moz-linear-gradient(top, #19b2ff, #004e75); background-image: -ms-linear-gradient(top, #19b2ff, #004e75); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #19b2ff), color-stop(100%, #004e75)); background-image: -webkit-linear-gradient(top, #19b2ff, #004e75); background-image: -o-linear-gradient(top, #19b2ff, #004e75); background-image: linear-gradient(#19b2ff, #004e75); border-color: #004e75 #004e75 hsl(200, 100%, 15%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.52); -webkit-font-smoothing: antialiased; }


/* ........gmodal CONFIRMAR SALIDA........ */
#modalconf .bigmodal-header h3{
	text-align: center;	
} 
#modalconf .b_conf{ 	
	width: 100%;
	margin: 0 auto;
	border: 1px solid red;
}
#modalconf .b_conf .span5{
	width: 50%;
	margin: 0 auto;
	border: 1px solid blue;
}
#modalconf .b_conf .span5 .b_no{
	width: 80%;		
}
#modalconf .b_conf .span5 .b_si{
	width: 80%;		
}


/* ........modal COMPARTIR EXPERIENCIA........ */
#modalexp .row-fluid .im_cargar{
	border: 1px solid red;	
}
/* INPUT FILE */
.SI-FILES-STYLIZED label.cabinet{
	display: block;	
	overflow: hidden; 	
	width: 50px;
	height: 50px;
	cursor: pointer;
	float: right;		
	text-align: center;
	/* background: #cecece; */	
}
.SI-FILES-STYLIZED label.cabinet input.file{
	width: auto; 
	height: 100%; 
	position: relative; 	
	opacity: 0;
	-moz-opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); 		
}


/* ........modal SEGUIDORES........ */
#seguidor{
  	background-color: white;
  	border: 1px solid #ccc;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#seguidor .usuario{
	width: 40px;
	height: 40px;	
	margin: 0 auto;
	padding: 10px;	
 	position: relative;
	float: left;
}

#seguidor .usuario img{
   	width: 100%;
	height: 100%;
}
#seguidor h5{
	width: auto;
	height: 40px;	
 	/* padding-left: 30px; */
	overflow: hidden;	
}




/* ........modal MIRAR FOTOS........ */

.bigmodal {
  position: fixed;
  top: 10%;
  left: 22%;
  z-index: 1050;
  width: 1300px;  
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.bigmodal.fade.in {
  top: 5%;
}

.bigmodal-body {
  position: relative;
  max-height: 600px;
  padding: 15px;
  overflow-y: auto; 
}

.bigmodal-body .close{
	margin-top: 2px;	
	cursor: pointer;	
}

.foto-publicada-modal{
	width: 700px;
	height: 500px;
 	/*margin: 0px auto;*/	
	position: relative;
	z-index: 1;	
}
.foto-publicada-modal img{
 	width: 100%;
  	height: 100%; 
}

.lopublico-modal{
	width: 50px;
	height: 50px;	
	position: relative;
	float: right;	
	right: 8px;
	bottom: 60px;
	z-index: 2;
	border: 1px solid #88bfe8;
}
.lopublico-modal img{
   	width: 100%;
	height: 100%;
}

.comentarios-modal{	
	height: 425px;
	overflow: auto;
}

.comentarios-modal .im_usu{	
	width: 48px;
	height: 48px;	
	position: relative;
	float: left;
	margin: 0px auto;
	margin-bottom: 10px;	
}
.comentarios-modal .im_usu img{	
	width: 100%;
	height: 100%;
	border: 1px solid #88bfe8;
}
.comentarios-modal .exp_usu{	
	margin-left: 65px;
	margin-bottom: 15px;
	padding: 8px;
	width: auto;
	background: white;
	border: 1px solid #88bfe8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
}

.tucomen textarea{	
	font: 13px 'lucida sans', 'trebuchet MS', 'Tahoma';	
	resize: none;
	overflow: auto;
}


@media screen and (max-width:1024px){
	.foto-publicada-modal{
		padding-top: 20px;
		width: 500px;
		height: 400px;
	 	margin: 0px auto;
		position: relative;
		z-index: 1;	
	}

	.bigmodal {
		left: 30%;
	  	width: 950px;  
	}

	.bigmodal.fade.in {
	  top: 2%;
	}

}


@media screen and (max-width:720px){
	.foto-publicada-modal{
		padding-top: 20px;
		width: 520px;
		height: 380px;
	 	margin: 0px auto;
		position: relative;
		z-index: 1;	
	}

	.bigmodal {
		left: 3%;
	  	width: 630px;  
	  	margin-left: 0px;
	}

	.bigmodal.fade.in {
	  top: 2%;
	}

	.bigmodal-body {
		position: relative;
		max-height: 500px;
		padding: 15px;
		overflow-y: auto; 
	}

}

@media screen and (max-width:320px){
	.foto-publicada-modal{
		padding-top: 20px;
		width: 220px;
		height: 180px;
	 	margin: 0px auto;
		position: relative;
		z-index: 1;	
	}

	.bigmodal {
		left: 5%;
	  	width: 260px;  
	  	margin-left: 0px;
	}

	.bigmodal.fade.in {
	  top: 2%;
	}

	.bigmodal-body {
		position: relative;
		max-height: 350px;
		padding: 15px;
		overflow-y: auto; 
	}

	.lopublico-modal{
		width: 35px;
		height: 35px;	
		position: relative;
		float: right;	
		right: 8px;
		bottom: 45px;
		z-index: 2;
		border: 1px solid #88bfe8;
	}

	.comentarios-modal .im_usu{	
		width: 40px;
		height: 40px;	
		position: relative;
		float: left;
		margin: 0px auto;
		margin-bottom: 10px;	
	}
}



