/************************ PERFIL DE USUARIO ************************/
.perfil{
	margin-top: 50px;	
}

.opciones .navbar-inner{
	min-height: 40px;
} 

.usuario{
	margin-bottom: 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #F3F3F3;
}
.usuario .nombre{
	padding-left: 50px;
}
.usuario .foto_perfil{	
	padding-left: 50px;
	/* padding-left: 16%; */
	/* border: 1px solid red; */
}
.usuario .foto_perfil img{
	width:200px;
	height: 200px;
	border: 1px solid #ccc;

}
.usuario .info{
	padding: 15px;
	/* border: 1px solid blue; */
}


/************************ PESTAÑA DE IMAGENES ************************/
#content .box {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
}

/************************ PESTAÑA DE EXPERIENCIAS ************************/
.experiencia{	
	margin-bottom: 15px;
	padding: 8px;
	width: auto;	
	background: white;
	border: 1px solid #88bfe8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.experiencia .imagen-experiencia{
/* 	padding-left: 25px;
padding-right: 25px;  */
	height: 125px;	
	margin-bottom: 10px;
	float: left;				
}

.experiencia .imagen-experiencia .im1{
	position: absolute;
	float: left;
  	z-index: 1;
   	width: 120px;
	height: 100px;
}
.experiencia .imagen-experiencia .im2{	
	padding: 10px 0px 0px 25px;	
	position: absolute;
	float: left;
  	z-index: 2;
   	width: 120px;
	height: 100px;
}
.experiencia .imagen-experiencia .im3{
	padding: 20px 0px 0px 50px;
	position: absolute;
	float: left;
  	z-index: 3;
   	width: 120px;
	height: 100px;
}
/* .experiencia .info_ex{
	border: 1px solid blue;
} */
.experiencia .info_ex h4{
	margin: 5px 0px 5px 20px;	
}
.experiencia .info_ex p{
	margin-top: 0px;
	font: Arial;
	font-size: 12px;
}
