/************************ PERFIL DE USUARIO ************************/
.perfil{
	margin-top: 50px;	
}

.opciones .navbar-inner{
	min-height: 40px;
} 

.usuario{
	margin-bottom: 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #F3F3F3;
}
.usuario .nombre{
	padding-left: 50px;
}
.usuario .foto_perfil{	
	padding-left: 50px;
	/* padding-left: 16%; */
	/* border: 1px solid red; */
}
.usuario .foto_perfil img{
	width:200px;
	height: 200px;
	border: 1px solid #ccc;

}
.usuario .info{
	padding: 15px;
	/* border: 1px solid blue; */
}

.seguidores{	
	padding: 10px;
	height: 500px;
	background-color: #F3F3F3;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: auto;
}
.seguidores h3{	
	margin: 0px;
	margin-bottom: 10px;
	/* border: 1px solid red;	  */
}
.seguidores p{	
	padding-left: 15px;	
	height: 55px;
  	overflow: hidden;
/*   	border: 1px solid red;	   */
}
.seguidores img{
	width: 55px;
	height: 55px;
	border: 1px solid #ccc;
}

/************************ PESTAÑA DE IMAGENES ************************/
#content .box {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
}

/************************ PESTAÑA DE EXPERIENCIAS ************************/
.experiencia{	
	margin-top: 15px;
	padding: 8px;
	width:inherit;
	height: 125px;
	/* 	border: 1px solid #88bfe8;	 */
	background: #F3F3F3;
	border: 1px solid #88bfe8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.experiencia .imagen-experiencia{
	padding-left: 25px;
	float: left;	
	width: 100%;
	height: 125px;
/* 	border: 1px solid blue; */
}
/* .experiencia .imagen-experiencia img{
	border: 1px solid #ccc;
	width: inherit;
	height: 90px;
} */
.experiencia .imagen-experiencia .im1{
	position: absolute;
	float: left;
  	z-index: 1;
   	width: 120px;
	height: 100px;
}
.experiencia .imagen-experiencia .im2{	
	/* padding: 15px; */
	padding: 10px 0px 0px 25px;	
	position: absolute;
	float: left;
  	z-index: 2;
   	width: 120px;
	height: 100px;
}
.experiencia .imagen-experiencia .im3{
	/* padding: 30px; */
	padding: 20px 0px 0px 50px;
	position: absolute;
	float: left;
  	z-index: 3;
   	width: 120px;
	height: 100px;
}
.experiencia .info_ex{	
	float: left;	
	width: 100%;
	height: 90px;	
	margin-top: 0px;
}
.experiencia .info_ex h4{
	margin: 5px 0px 5px 20px;
	/* border: 1px solid blue;	 */
}
.experiencia .info_ex p{
	margin-top: 0px;
	font: Arial;
	font-size: 12px;
	/*border: 1px solid;*/
}
/* @media screen and (min-width:1024px){

} */





/************************ VENTANA MODAL-EDITAR PERFIL ************************/
/* 
.SI-FILES-STYLIZED .cabinet{
	width: 579px; 
  	height: 22px;
  	display: block; 
  	background: url(btn-choose-file.gif) no-repeat 0px 0px;  	
  	overflow: hidden;
  	cursor: pointer;
  	border: 2px solid cyan;  	
}

.SI-FILES-STYLIZED .cabinet .file{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);	
    border: 2px solid blue;  	
}
 */
